@font-face {
    font-family:Roboto-Light ;
    src: url(fonts/Roboto-Light.ttf);
}
@font-face {
    font-family:OpenSans ;
    src: url(fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}


h1{
    font-family: Roboto-Ligh,Verdana,arial;
}
p{
    font-family: "OpenSans","lucida console","courier new";
    font-size: 1em;
    font-weight: bold;
    font-style: italic;
}

/*
google fonts
search = fonts.google.com
*/